body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: darkblue;
    font-size: 1.4em;
    margin: 0.5em 0;
}

h3 {
    color: darkblue;
    font-size: 1.2em;
}

.page {
    max-width: 1000px;
    background-color: #eee;
    border: 2px solid #bbb;
    padding: 0.5em;
    margin: 1em auto;
}